.pinCode {
  padding: 0; 
  margin: 0 auto; 
  display: flex;
  justify-content: center;
} 
 
.pinCode input { 
  border: none; 
  text-align: center; 
  width: 48px;
  height: 48px;
  font-size: 36px; 
  background-color: #F3F3F3;
  margin-right: 5px;
}

.pinCode input:focus {
  border: 0;
  outline: none;
}

.pinCode input::-webkit-outer-spin-button,
.pinCode input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
